.footer{
    margin-top: auto;
    padding: 25px;
}
.footer__link{
    display: block;
    max-width: max-content;
    margin: 0 auto;
    text-decoration: none;
    color: #392b74;
    transition: color ease 0.3s;
}
.footer__link:hover{
    color: #ab61ff;
}