html {
    height: 100%;
    overflow-x: hidden;
}

body {
    background-color: #13192e;
    color: white;
    overflow-x: hidden;
    height: 100%;
}

#root {
    height: 100%;
}

.app {
    height: 100%;
    display: flex;
    flex-direction: column;
}